<% provide(:title, "Help") %>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Help</h1>
                <p>If you need help, please contact our Support Team and they will get back to you one day.</p>
            </div>
        </div>