<% provide(:title, "Home") %>

        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="http://placekitten.com/900/350" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1>Twitler</h1>
                <p>Sign up now and claim your own Twitler account. Post as many microposts as you want for all to see!</p>
                <%= link_to "Sign Up", new_user_path, class: "btn btn-default btn-lg" %>
            </div>
            <!-- /.col-md-4 -->
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4">
                <h2>1. Make your own profile</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                <%= link_to "Sign Up", new_user_path, class: "btn btn-default" %>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>2. Make posts of things you did or saw!</h2></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                <%= link_to "Sign Up", new_user_path, class: "btn btn-default" %>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>3. Look at what others did!</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                <%= link_to "Sign Up", new_user_path, class: "btn btn-default" %>
            </div>
            <!-- /.col-md-4 -->
        </div>